.containerTop {
    width: 100%;
/*    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.24), 0px 0px 1px rgba(0, 0, 0, 0.12);*/
}

h1 {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin: 3px 0 0 9px;
}

p{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color:#989696;
    font-weight: 100;

}

.topText {
    margin-left: 35px;
        margin-top: 80px;
}

.inlineSub {
    display: inline-block;
}

.jobTitle {
    color: #256ED9;
}

h2, h3 {
    font-family: 'Roboto', sans-serif;
}

h3 {
    line-height: 26px;
}

a:visited {
	color: black;
}

a {
	color: black;
}

img {
    height: auto;
    width: 200px;
}

h3 {
    font-size: 19px;
    font-weight: 200;
}

.red {
    text-decoration: underline;
    display: inline;
    color:#3b82ea;
}

#work {
    border-top: 4px solid #256ED9;
}

#work:hover{
    background-color: #efefef;
    cursor: pointer;
}

#work:hover .viewWork{
    cursor: pointer;
    text-decoration: underline;

}

#workTwo {
    border-top: 4px solid #256ED9;
}



.title {
    font-size:19px;
    font-weight: 600;
    margin: 0;
}

.subTitle {
    font-size:19px;
    font-weight: 100;
    margin: 0;
    margin-bottom: 12px;
}

.arrow {
    transform: rotate(180deg);
    width: 50px;
    height: auto;
}

#back {
      transform: rotate(0deg);
}

#back:hover {
      background-color: #efefef;
}

.heart {
    height: auto;
    width: 20px;
    position: relative;
    top: 3px;
}

#section_two {
        margin-top: 31px;
}

#midSection {
    margin-top: 31px;
}

.caseStudy {
    margin-top: 10px;
    margin-bottom: 10px;
}

.viewWork {
    margin-top: 7px;
}

#logo {
    margin-top: 10px;
    width:155px;
    height: auto;
}

#im {
    margin-left:12px;
}

.contactIcons {
    width: 30px;
    height: auto;
    display: inline-block;
}

.contactTitle {
    display: block;
    text-decoration: underline;
    color: #256ED9;
}

.contactTitle:hover {
    text-decoration: none;
    cursor: pointer;
}

.banner {
    width: 100%;
    height: auto;
}

.quote {
    font-style: italic;
    text-align: center;
    margin-top: 21px;
}

ul {
   font-family: 'Roboto', sans-serif;
    font-size: 19px;
}

li {
    margin-bottom: 22px;
}

.highlight {
    font-weight: 600;
    font-style: italic;
}

.line {
    width: 100%;
    height: 4px;
    background-color:#256ED9;
}

#sessions {
    width: 49%;
    height: auto;
    vertical-align: top;
    margin-top:10px;
}

ol {
    font-family: 'Roboto', sans-serif;
    font-size: 29px;
}

.bold {
    font-weight: 600;
}

.converge {
    font-size: 36px;
    text-align: center;
}

.userFlow {
    width: 100%;
    height: auto;
	margin-bottom: 15px;
}

.betaFlow {
margin-bottom: 0px;
    margin-top: 15px;
	width: 100%;
    height: auto;
}

.ideation {
    width: 100%;
    height: auto;
		margin-bottom: 15px;
}

.mvpFlow {
	margin-bottom: 0px;
    margin-top: 15px;
	width: 100%;
    height: auto;
}

.mockUpPics {
    width: 100%;
    height: auto;
}

.me {

    height: auto;
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 63%;
	margin-top:15px;
	border-radius: 200px;
    box-sizing: border-box;

/*    border: 5px solid #256ED9;*/
}

.diverge {
		  font-size: 36px;
		line-height: 45px;
}

#logo.ukplogo {
	width:200px;
}

@media only screen and (max-width: 55em) {
  .me {
    width: 33%;
  }
}